.specialheader1 {
  color: white !important;
  font-family: 'Muli', sans-serif;
}

.specialheader2 {
  color:white !important;
  font-family: 'Muli', sans-serif;
  font-style: italic;
}

h1 {
  font-family: 'Muli', sans-serif;
  
}

h2 {
  font-family: 'Muli', sans-serif;
 
}

.appContainer{
  position:relative;
  height: 100px;
  
}
/* -----------
Left Panel Styles
----------- */
.leftPanel{
  height:100vh;
  overflow:scroll;
  background-color: #82ac11;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('../assets/images/backgroundFlav.png');
  background-position: 30% 100%;
}



div.ui.cards{

  
  margin-bottom: 20px;
  margin-left: 3px;
}

.ui.card>.image, .ui.cards>.card>.image {

  height: 200px !important;
  background-color: #e5ebde !important;
}
.description{
  height: 120px !important;
  
}

.thumbnailImg{
 
}

.navbarTitle{
  position: relative;
  top:10px;
  left:45px;
  font-size: 15px;
  font-family: 'Muli', sans-serif;
  font-weight:bold;
  color:white;
}

.a.navbarTitle:hover{
  font-family: 'Muli', sans-serif;
  font-weight:bold;
  color:white;
}

.a.navbarTitle:active{
  font-family: 'Muli', sans-serif;
  font-weight:bold;
  color:white;
}

.break{
  height: 50px;
}

.cardHolder{
  position:relative;
  top: 10px;
  float:left;
  display: inline-block;
  margin-right: 10px;
  
  
}

.cardHolderContainer{
  position:relative;
  right: 40px;
}
/* -----------
Menu B Styles
----------- */
div.ui.vertical.labeled.icon.ui.push.left.thin.visible.sidebar.menu{
  background-image: url('../assets/images/psLogo3.png'),linear-gradient(to top, #e5ebde , white);
  border-top:none;
  background-repeat: no-repeat,repeat;
  background-position: 50% 110%, 0 0;
  background-size: 10% 50%, fixed cover;
  color:black !important;
  box-shadow:none;
  overflow: hidden;
  position: relative;
  display:inline-block;
  float:left;
  clear:both;
  top:44px;
  height: 100vh !important;
  

 
  /* border-bottom: 0.5px solid; */
  
}

div.ui.top.attached.inverted.menu2.menu{
  background-color: #4f1d31;
 
}
.menu2{
  width: 205px;
  /* border-bottom: 0.5px solid; */
}
div.ui.menu .ui.dropdown .menu> .item {
  
  /* order matters when addressing elements which is why adding div to the front 
  helped override it*/
}
div.ui.menu .ui.dropdown .menu> .item:hover {
 
 
}

div.ui.sidebar.menu .item {
  height: 200px;
}

div.ui.container.stackable.two.column.grid{
 
  
}

/* LogoSpace */

.logoSpace{
  position: relative;
  top:10%;
  margin-bottom:100px;
}

.loginStyle{
  position:relative;
  top: 20px;
}

/* Form */

.signupForm{
  /* text-align: center; */
  /* width:100%; */
  position: relative;
  top:5px;
}

div.ui.modal.transition.visible.active{
  
  width: 500px;
  height: 500px;
  text-align: right;
  vertical-align: middle;
  background-image: url('../assets/images/pslogo_letter_only.svg');
  background-size: 44%;
  background-repeat:no-repeat;
  background-position:50% 2%;
  border-radius: 10px;
}

div.ui.modal>.image.content{
  padding-top:50px;
  height:550px;
  width: 500px;
  text-align: center;
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: #e5ebde !important;
 
}

#signUpLogo{
  position: relative;
  top:-20px;
  left:20px;
  margin-bottom:0px;
}

.signupInput{
  border:none;
  margin:10px;
  width:330px;
  height:40px;
  border-radius: 5px;
  padding:10px;
}

.submitBtn{
  position: relative;
  top:30px;
  font-size:16px !important;
  border-radius: 5px;
}

/* -----------
Project Idea
----------- */


.sideMenu{
  width:100%;
  background-image: url('../assets/images/psLogo3.png'),linear-gradient(to top, #e5ebde , white);
  border-right: 1px solid rgb(219, 227, 215);
  background-repeat: no-repeat,repeat;
  background-position: 50% 110%, 0 0;
  background-size: 10% 50%, fixed cover;
  color:black !important;
  box-shadow:none;
  overflow: hidden;
  position: relative;
  display:inline-block;
  float:left;
  clear:both;
 
  height: 96vh !important;
  
}

.customItem{
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  font-size:15px;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  padding-top:90px;
  border-bottom:1px solid rgb(219, 227, 215);
  height:200px;
}
.customItem:hover{
  position:relative;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  padding-top:90px;
  border-bottom:1px solid rgb(219, 227, 215);
  height:200px;
  color:white;
  background-color:#81ab11;
}

.ui.center.aligned.header {
  color: #4f1d31;

}

/* unvisited link */
a:link {
  color: none;
}

/* visited link */
a:visited {
  color: none;
}

/* mouse over link */
a:hover {
  color: none;
}

/* selected link */
a:active {
  color: none;
}

/* ------------Temp----- */
.addPostTemp{
  position:relative;
  background-color:white;
  margin-left:auto;
  margin-right:auto;
  height:100vh;
  width:100vw;
  background-image:url('../assets/images/backgroundFlav2.png');
  background-repeat: no-repeat;
  background-position: 100% 110%;
}

.postContainer{
  top: 150px;
  position:relative;
  left:29%;
  width:100vw;
  margin-left:auto;
  margin-right:auto;
  padding-bottom: 30px;
}

.postTest{
  position:relative;
  margin-top: 30px;
  border:none;
  border-radius: 5px;
  width:400px;
  font-family: 'Muli', sans-serif;
 
}

.postTest2{
  position:relative;
  margin-top: 30px;
  border:none;
  border-radius: 5px;
  width:600px;
  font-family: 'Muli', sans-serif;
  background-color:#fbfbfb;
  border: 1px solid rgb(219, 227, 215);
}

.postHeader{
  left:200px;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  color:#4f1d31;
  font-family: 'Muli', sans-serif;
}


.postBtn{
  background-color:#4f1d31;
  color:white;
  position: relative;
  top:30px;
  height:30px;
  width:600px;
  font-size:16px !important;
  border-radius: 5px;
  border: 1px solid rgb(219, 227, 215);
}