.specialheader1 {
  color: white;
  font-family: 'Gilroy-Bold'
}

.specialheader2 {
  color:white;
  font-family: 'Gilroy-Light';
  font-style: italic;
}

h1 {
  font-family: 'Gilroy-Bold';
  color: #4f1d31;
}

h2 {
  font-family: 'Gilroy-Light';
  color: #4f1d31;
}


/* -----------
Left Panel Styles
----------- */
.leftPanel{
  height:100vh;
  overflow:scroll;
  background-color: #82ac11;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div.ui.card{
  margin: 10px !important;
  float:left !important;
  width: 350px;
  min-height: 400px;
}

.image{
  height: 100% !important;
  background-color: #e5ebde !important;
}

.thumbnailImg{
  height: 100% !important;
}

.break{
  height: 50px;
}

.cardHolder{
  position:relative;
  top: 10px;
  float:left;
  display: inline-block;
  margin-right: 20px;
}
/* -----------
Menu B Styles
----------- */
div.ui.vertical.labeled.icon.ui.push.left.thin.visible.sidebar.menu{
  background-image: url('../assets/images/psLogo3.png'),linear-gradient(to top, #e5ebde , white);
  border-top:none;
  background-repeat: no-repeat,repeat;
  background-position: 50% 110%, 0 0;
  background-size: 10% 50%, fixed cover;
  color:black !important;
  box-shadow:none;
  overflow: hidden;
  position: relative;
  display:inline-block;
  float:left;
  clear:both;
  top:44px;
  height: 100vh !important;
  

 
  /* border-bottom: 0.5px solid; */
  
}

div.ui.top.attached.inverted.menu2.menu{
  background-color: #4f1d31;
 
}
.menu2{
  width: 151px;
  /* border-bottom: 0.5px solid; */
}
div.ui.menu .ui.dropdown .menu> .item {
  
  /* order matters when addressing elements which is why adding div to the front 
  helped override it*/
}
div.ui.menu .ui.dropdown .menu> .item:hover {
 
 
}

div.ui.sidebar.menu .item {
  height: 200px;
}

div.ui.container.stackable.two.column.grid{
 
  
}

/* LogoSpace */

.logoSpace{
  margin-bottom:100px;
}

.loginStyle{
  position:relative;
  top: 20px;
}

/* Form */

.signupForm{
  /* text-align: center; */
  /* width:100%; */
  position: relative;
  top:5px;
}

div.ui.modal.transition.visible.active{
  
  width: 500px;
  height: 500px;
  text-align: right;
  vertical-align: middle;
  background-image: url('../assets/images/pslogo_letter_only.svg');
  background-size: 44%;
  background-repeat:no-repeat;
  background-position:50% 2%;
  border-radius: 10px;
}

div.ui.modal>.image.content{
  padding-top:50px;
  height:650px;
  width: 500px;
  text-align: center;
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  
 
}

#signUpLogo{
  position: relative;
  top:-20px;
  left:20px;
  margin-bottom:0px;
}

.signupInput{
  border:none;
  margin:10px;
  width:330px;
  height:40px;
  border-radius: 5px;
  padding:10px;
}

.submitBtn{
  position: relative;
  top:30px;
  
  font-size:16px !important;
  border-radius: 5px;
}

/* -----------
Project Idea
----------- */
/* 
.ui.celled.padded.table {
  margin-right: 40px;
  margin-left: 40px;
} */

.table-cell {
  width: 50px;
}

/* .table-header {
  width: 50px;
} */

