h1 {
  color: white;
  font-family: 'Gilroy-Bold'
}

h2 {
  color:white;
  font-family: 'Gilroy-Light';
  font-style: italic;
}

/* -----------
Left Panel Styles
----------- */
.leftPanel{
  height:100vh;
  overflow:scroll;
  background-color: #82ac11;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div.ui.card{
  margin: 10px !important;
  float:left !important;
  width: 350px;
  min-height: 400px;
}

.image{
  height: 100% !important;
  background-color: #e5ebde !important;
}

.thumbnailImg{
  height: 100% !important;
}

.break{
  height: 50px;
}

.cardHolder{
  position:relative;
  top: 10px;
  float:left;
  display: inline-block;
  margin-right: 20px;
}
/* -----------
Menu B Styles
----------- */
div.ui.vertical.labeled.icon.ui.push.left.thin.visible.sidebar.menu{
  background-image: linear-gradient(to top, #e5ebde , white);
  border-top:none;
  color:black !important;
  box-shadow:none;
  /* border-bottom: 0.5px solid; */
  
}

div.ui.top.attached.inverted.menu2.menu{
  background-color: #4f1d31;
 
}
.menu2{
  width: 151px;
  /* border-bottom: 0.5px solid; */
}
div.ui.menu .ui.dropdown .menu> .item {
  color: white !important;
  /* order matters when addressing elements which is why adding div to the front 
  helped override it*/
}
div.ui.menu .ui.dropdown .menu> .item:hover {
  color: white !important;
 
}

